@font-face {
  font-family: 'pt-sans-bold';
  src: url("assets/fonts/pt-sans-bold.eot");
  src: url("assets/fonts/pt-sans-bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/pt-sans-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Questrial';
  src: url("assets/fonts/questrial-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Questrial", Arial, Calibri, Verdana, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.6; }

h1, h2, h3, h4 {
  color: #00373d;
  font-family: "pt-sans-bold", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
  text-transform: uppercase;
  /* webkit does not (yet) support this  */
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

::selection {
  background-color: #58b2bd;
  color: white; }

::-moz-selection {
  background-color: #58b2bd;
  color: white; }

p, ul {
  font-size: 1em;
  margin: 0.5em 0; }

ul {
  padding-left: 2em; }

h1 {
  font-size: 2.0em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.353em; }

h4 {
  font-size: 1.059em; }

abbr {
  border-bottom: 1px dotted #798386; }

code {
  color: #00373d; }

time {
  color: #798386;
  font-size: 0.824em; }

@font-face {
  font-family: 'voorhoede-icon-font';
  src: url("assets/fonts/voorhoede-icon-font.eot");
  src: url("assets/fonts/voorhoede-icon-font.eot?#iefix") format("embedded-opentype"), url("assets/fonts/voorhoede-icon-font.woff") format("woff"), url("assets/fonts/voorhoede-icon-font.ttf") format("truetype"), url("assets/fonts/voorhoede-icon-font.svg#dvh-logo") format("svg");
  font-weight: normal;
  font-style: normal; }
.voorhoede-icon:before,
.voorhoede-icon:after {
  font-family: 'voorhoede-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-left:before {
  content: "\e602"; }

.icon-arrow-down:before {
  content: "\e603"; }

.icon-arrow-up:before {
  content: "\e604"; }

.icon-arrow-right:before {
  content: "\e605"; }

.icon-export:before {
  content: "\e600"; }

.icon-link:before {
  content: "\e601"; }

.icon-twitter:before {
  content: "\e606"; }

.icon-facebook:before {
  content: "\e607"; }

.icon-googleplus:before {
  content: "\e608"; }

.icon-linkedin:before {
  content: "\e609"; }

a {
  color: #d57a4b;
  cursor: pointer;
  background: transparent;
  text-decoration: none; }
  a:hover, a:focus {
    color: #c26738; }
  a p {
    color: black; }

.link-proxy {
  color: #d57a4b; }

.link-wrapper {
  text-align: center; }

.button-internal, .button-external, .button-inline {
  border: none;
  display: inline-block;
  line-height: 1;
  min-width: 185px;
  padding: 20px 25px 18px 25px;
  text-align: center;
  text-decoration: none; }
  @media only screen and (max-width: 350px) {
    .button-internal, .button-external, .button-inline {
      min-width: 140px;
      padding: 10px 15px 10px 15px; } }

.button-internal {
  background-color: #ebdd3f;
  color: #00373d; }
  .button-internal:hover, .button-internal:focus {
    background-color: #f5e749;
    color: #00373d; }
  .button-internal.icon-right:after {
    content: "\e605";
    vertical-align: middle; }

.button-external {
  background-color: #00373d;
  color: white; }
  .button-external:hover, .button-external:focus {
    background-color: #0f4c53;
    color: white; }
  .button-external:after {
    content: "\e600";
    margin-left: 10px; }

.bullet-list {
  font-size: 1.0em;
  margin: 0 0 1em 1em;
  text-align: left; }

ol {
  margin: 0 0 1em 1em; }

dl {
  margin: 0 0 1em 0; }

dt {
  color: #00373d;
  font-weight: bold; }
  dt:after {
    content: ":"; }

dd {
  line-height: 1.4em; }

.button-internal, .button-external, .button-inline {
  border: none;
  display: inline-block;
  line-height: 1;
  min-width: 185px;
  padding: 20px 25px 18px 25px;
  text-align: center;
  text-decoration: none; }
  @media only screen and (max-width: 350px) {
    .button-internal, .button-external, .button-inline {
      min-width: 140px;
      padding: 10px 15px 10px 15px; } }

.button-inline {
  background-color: #e65e3e;
  color: white; }
  .button-inline:hover, .button-inline:focus {
    background-color: #eb6c4e;
    color: white; }
  .button-inline.icon-down:after {
    content: "\e603";
    vertical-align: middle; }

blockquote {
  background: #f9f9f9;
  border-left: 2px solid #00373d;
  margin: 0 0 1em 0;
  padding: 10px;
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote:before,
blockquote:after {
  color: #00373d;
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em; }

blockquote:before {
  content: open-quote;
  margin-right: 4px; }

blockquote:after {
  content: close-quote;
  margin-left: 4px; }

blockquote p {
  display: inline; }
