// Colors
// ------------------

$dvh-red: 				#e65e3e;
$dvh-green: 			#58b2bd;
$dvh-blue: 				#00373d;
$dvh-yellow: 			#e6c73e;

// link colors

$inline-link: 			#d57a4b;
$inline-link-hover:     #c26738;
$button-internal:		#ebdd3f;
$button-internal-hover:	#f5e749;
$button-inline:         #e65e3e;
$button-inline-hover:   #eb6c4e;
$button-external:       #00373d;
$button-external-hover: #0f4c53;

$black:					#000;
$grey:					#798386;
$grey-medium:           #A2ACAF;
$grey-light: 			#ccc;
$grey-lighter:          #ececec;

// shadow color

$shadow: 				#ccc;
