$icon-arrow-left: "\e602";
$icon-arrow-down: "\e603";
$icon-arrow-up: "\e604";
$icon-arrow-right: "\e605";
$icon-export: "\e600";
$icon-link: "\e601";
$icon-twitter: "\e606";
$icon-facebook: "\e607";
$icon-googleplus: "\e608";
$icon-linkedin: "\e609";
$icon-checkbox-checked: "\e601";
$icon-checkbox-unchecked: "\e602";
$icon-thumb-down: "\e603";
$icon-thumb-up: "\e604";

