// Note (07-11-2014): User select is non-standard and is not on a standards track. It will not work for
// every user. There may also be large incompatibilities between implementations and the
// behavior may change in the future.

@mixin user-select($properties) {
	-webkit-user-select: $properties;  /* Chrome all / Safari all */
	-moz-user-select: $properties;     /* Firefox all */
	-ms-user-select: $properties;      /* IE 10+ */
}
