.excerpt {
    @include clearfix();

    .excerpt-image,
    .excerpt-text {
        @include box-sizing(border-box);

        @media only screen and (min-width: 839px) {
            margin: 0 auto;
            width: 50%;
        }
    }

    .excerpt-image {
        margin: 0 auto;
        max-width: 355px;

        img {
            height: auto;
            width: 100%;
        }
    }

    h3 {
        text-align: center;

        @media only screen and (min-width: 839px) {
            text-align: left;
        }
    }

    p {
        color: black;
    }


    .odd {
        .excerpt-image {
            text-align: center;

            @media only screen and (min-width: 839px) {
                float: left;
            }
        }

        .excerpt-text {
            @media only screen and (min-width: 839px) {
                float: right;
                padding-left: 2em;
            }
        }
    }

    .even {
        .excerpt-image {
            text-align: center;

            @media only screen and (min-width: 839px) {
                float: right;
            }
        }

        .excerpt-text {
            @media only screen and (min-width: 839px) {
                float: left;
                padding-right: 2em;
            }
        }
    }
}
