input,
textarea {
	border: 1px solid $grey-medium;
	padding: 6px 3px;
}

::-webkit-input-placeholder {
	color: $grey-medium;
}
::-moz-placeholder {
	color: $grey-medium;
} /* firefox 19+ */
:-ms-input-placeholder {
	color: $grey-medium;
} /* ie */
input:-moz-placeholder {
	color: $grey-medium;
}



button {
	border: none;
	display: inline-block;
	line-height: 1;
	min-width: 185px;
	padding: 20px 25px 18px 25px;
	text-align: center;
	text-decoration: none;
	background-color: $button-inline;
	color: white;

	&:hover,
	&:focus {
		background-color: $button-inline-hover;
		color: white;
	}

	&.icon-down:after {
		content: $icon-arrow-down;
		vertical-align: middle;
	}

	@media only screen and (max-width: 350px) {
		min-width: 140px;
		padding: 10px 15px 10px 15px;
	}
}
