fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

label[for] {
	cursor: pointer;
}

input,
textarea {
	border: 1px solid $grey-medium;
	padding: 6px 3px;
}

textarea {
	overflow: auto; // Remove default vertical scroll bar in IE 8/9
	vertical-align: top; // Improve readability and alignment in all browsers
}

::-webkit-input-placeholder {
	color: $grey-medium;
}
::-moz-placeholder {
	color: $grey-medium;
} /* firefox 19+ */
:-ms-input-placeholder {
	color: $grey-medium;
} /* ie */
input:-moz-placeholder {
	color: $grey-medium;
}

button {
	background-color: $button-internal;
	border: none;
	color: $button-external;
	display: inline-block;
	line-height: 1;
	min-width: 185px;
	padding: 20px 25px 18px 25px;
	text-align: center;
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: $button-internal-hover;
		color: $button-external;
	}
	&.icon-right:after {
		content: $icon-arrow-right;
		vertical-align: middle;
	}

	@media only screen and (max-width: 350px) {
		min-width: 140px;
		padding: 10px 15px 10px 15px;
	}
}
