.illustrated-text {
	@include clearfix;

	p {
		float: left;
		width: 65%;

		@media only screen and (max-width: 920px) {
			float: none;
			width: 100%;
		}
	}

	figure {
		float: right;
		margin: 0;
		padding: 0.5em 0 0.5em 0.5em;
		width: 30%;

		@media only screen and (max-width: 920px) {
			float: none;
			margin: 0.5em auto 0 auto;
			text-align: center;
			width: 100%;

			img {
				padding: 0;
			}
		}
	}
}
