a {
	color: $inline-link;
	cursor: pointer;
	background: transparent;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $inline-link-hover;
	}
}

%block-link {
	display: inline-block;
	line-height: 1;
	min-width: 185px;
	padding: 20px 25px 18px 25px;
	text-align: center;
	text-decoration: none;

	@media only screen and (max-width: 350px) {
		min-width: 140px;
		padding: 10px 15px 10px 15px;
	}
}

.internal-link {
	@extend %block-link;
	background-color: $button-internal;
	color: $button-external;

	&:hover,
	&:focus {
		background-color: $button-internal-hover;
		color: $button-external;
	}
	&.icon-right:after {
		content: $icon-arrow-right;
		vertical-align: middle;
	}
}

.external-link {
	@extend %block-link;
	background-color: $button-external;
	color: white;

	&:hover,
	&:focus {
		background-color: $button-external-hover;
		color: white;
	}

	&:after {
		content: $icon-export;
		margin-left: 10px;
	}
}
