.bullet-list {
	font-size: 1.0em;
	margin: 0 0 1em 1em;
	text-align: left;
}

ul ul {
	margin: 0;
}

ol {
	margin: 0 0 1em 1em;

	ol {
		margin: 0;
	}
}

dl {
	margin: 0 0 1em 0;
}

dt {
	font-weight: bold;

	&:after {
		content: ":";
	}
}

dd {
	line-height: 1.4em;
}
