.panel {
	@include box-shadow(0 8px 6px -6px $shadow);
	@include box-sizing(border-box);
	@include clearfix();
	background-color: #fff;
	display: block;
    margin: 0 auto 2em;
	padding: 2em 2.5em;
	position: relative;
    width: 83.3%;

	@media only screen and (max-width: 600px) {
		padding: 1.5em 1em;
	}

    .panel-image {
        float: left;
        width: 50%;

        @media only screen and (max-width: 840px) {
            float: none;
            margin: 0 auto;
            width: 100%;
            max-width: 355px;
        }
    }

    .illustrated-panel {

        .panel-text {
            @include box-sizing(border-box);
            float: left;
            width: 50%;
        }
    }
}
