.panel {
    @include box-shadow(0 8px 6px -6px $shadow);
    @include box-sizing(border-box);
    @include clearfix();
    background-color: #fff;
    display: block;
    margin: 0 auto 2em;
    padding: 1.5em 1em;
    position: relative;

    @media only screen and (min-width: 839px) {
        width: 83%;
    }

    @media only screen and (min-width: 599px) {
        padding: 2em 2.5em;
    }
}
