@import "mixins/clearfix";
@import "variables/colours";

.guide-header,
.guide-main {
	margin: 2em auto 4em auto;
	width: 75%;

	.section-header {
		z-index: 1;
	}
}

.guide-header {
	@include clearfix();
	position: relative;

	img {
		position: absolute;
	}
}

.guide-header-titles {
	padding-left: 95px;

	h1 {
		line-height: 1.2;
	}

	h2 {
		font-size: 1.353em;
	}
}

.guide-section {
	margin-bottom: 2em;

	.internal-link {
		margin-bottom: 1em;
	}

	input,
	textarea {
		margin-bottom: 1em;
	}
}

.guide-section-header {
	margin-bottom: 1em;
}

.guide-icon-list {
	@include clearfix();
	list-style: none;
	padding: 0;

	dt,
	dd {
		line-height: 1;
		padding: 4px;
	}

	dt {
		clear: left;
		float: left;
		font-weight: normal;
		margin-right: 1em;
	}

	dd {
		float: left;
		margin: 0;
	}
}
