@import "variables/colours";

.guide-header,
.guide-main {
	margin: 2em auto 4em auto;
	width: 80%;
}

.guide-section {
	margin-bottom: 2em;

	.internal-link {
		margin-bottom: 1em;
	}

	input,
	textarea {
		margin-bottom: 1em;
	}
}

.guide-section-header {
	margin-bottom: 1em;
}
