// headings
@font-face {
	font-family: 'pt-sans-bold';
	src: url('#{$path-fonts}pt-sans-bold.eot');
	src: url('#{$path-fonts}pt-sans-bold.eot?#iefix') format('embedded-opentype'),
	url('#{$path-fonts}pt-sans-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// body copy
@font-face {
	font-family: 'Questrial';
	src: url('#{$path-fonts}questrial-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// font sizes

$body-font-size: 17px;
$body-line-height: 1.6;
$footer-font-size: 14px;

// font-families

$body-font: 'Questrial';
$body-font-alt: Arial, Calibri, Verdana, sans-serif;
$body-font-family: $body-font, $body-font-alt;

$header-font: 'pt-sans-bold';
$header-font-alt: sans-serif;
$header-font-family: $header-font, $header-font-alt;

body {
	font-family: $body-font-family;
	font-size: $body-font-size;
	font-weight: normal;
	line-height: $body-line-height;
}

h1, h2, h3, h4 {
	@include hyphens(none);
	color: $dvh-blue;
	font-family: $header-font-family;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
	text-transform: uppercase;
}

::selection {
	background-color: $dvh-green;
	color: white;
}

::-moz-selection {
	background-color: $dvh-green;
	color: white;
}

p, ul {
	font-size: 1em;
	margin: 0.5em 0;
}

ul {
	padding-left: 2em;
}

h1 {
	font-size: 2.0em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.353em;
}

h4 {
	font-size: 1.059em;
}

/* section-header component */
.section-header {
	@include rotate(-5deg);
	display: table;
	position: relative;
	z-index: -2;
	zoom: 1;
	margin: 0 auto;
	padding: 4em 0 2em 0;
	text-transform: uppercase;
	font: 1em 'pt-sans-bold', sans-serif;

	.section-title {
		font-size: 135px;
	}

	&:before,
	&:after {
		content: attr(data-content);
		position: absolute;
	}

	&:before {
		@include color-rgba($dvh-red, $plane-light);
		font-size: 135px;
		top: .645em;
		left: -0.15em;
	}

	&:after {
		@include color-rgba($dvh-yellow, $plane-light);
		font-size: 180px;
		top: 0.23em;
		left: -0.5em;
	}

	@media only screen and (max-width: 840px) {
		.section-title {
			font-size: 90px;
		}

		&:before {
			font-size: 90px;
			top: 0.9em;
			left: -0.15em;
		}

		&:after {
			font-size: 120px;
			top: 0.415em;
		}
	}

	@media only screen and (max-width: 520px) {
		.section-title {
			font-size: 60px;
		}

		&:before {
			font-size: 60px;
			top: 1.26em;
			left: -.15em;
		}

		&:after {
			font-size: 90px;
			top: .51em;
			left: -.55em;
		}
	}

	@media only screen and (max-width: 385px) {
		.section-title {
			font-size: 40px;
		}

		&:before {
			font-size: 40px;
			top: 1.81em;
			left: -.15em;
		}

		&:after {
			font-size: 60px;
			top: .87em;
			left: -.55em;
		}
	}
}

.section-title {
	&:after {
		@include color-rgba($dvh-yellow, $plane-dark);
		content: attr(data-content);
		position: absolute;
		top: 0.501em;
		left: 1%;
		width: 200%;
		height: 150%;
		z-index: -10;
	}

	@media only screen and (max-width: 840px) {
		&:after {
			top: .75em;
		}
	}

	@media only screen and (max-width: 520px) {
		&:after {
			top: 1.14em;
		}
	}

	@media only screen and (max-width: 385px) {
		&:after {
			top: 1.7em;
			//			left: .1em;
		}
	}

}
.lt-ie9 {
	.section-header, .section-title {
		&:after, &:before {
			content: '';
		}
	}
}

.ruler-header {
	font-size: 1.55em;
	margin-bottom: 1.29em;
	line-height: 1.3em;
	position: relative;
	text-align: center;
}

.ruler {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: $shadow;
	top: 13px;
	left: 0;

	@media only screen and (max-width: 840px) {
		display: none;
	}
}

.ruler-text {
	position: relative;
	background-color: $white;
	padding-left: 0.5em;
	padding-right: 0.5em;

	@media only screen and (max-width: 840px) {
		position: relative;
		padding-left: 0;
		padding-right: 0;
	}
}

.tagline {
	color: $dvh-blue;
	font-family: 'pt-sans-bold', sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	margin: 0;
	padding: 20px 0;
	text-transform: uppercase;
	text-align: center;
}

.author {
	border-left: 1px solid $grey;
	color: $grey;
	font-size: 0.9em;
	padding-left: 4px;
}
