// Paths
// ------------------

$path-fonts: 			'assets/fonts/';

// headings
@font-face {
	font-family: 'pt-sans-bold';
	src: url('#{$path-fonts}pt-sans-bold.eot');
	src: url('#{$path-fonts}pt-sans-bold.eot?#iefix') format('embedded-opentype'),
	url('#{$path-fonts}pt-sans-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// body copy
@font-face {
	font-family: 'Questrial';
	src: url('#{$path-fonts}questrial-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// font sizes

$body-font-size: 17px;
$body-line-height: 1.6;
$footer-font-size: 14px;

// font-families

$body-font: 'Questrial';
$body-font-alt: Arial, Calibri, Verdana, sans-serif;
$body-font-family: $body-font, $body-font-alt;

$header-font: 'pt-sans-bold';
$header-font-alt: sans-serif;
$header-font-family: $header-font, $header-font-alt;

body {
	font-family: $body-font-family;
	font-size: $body-font-size;
	font-weight: normal;
	line-height: $body-line-height;
}

h1, h2, h3, h4 {
	color: $dvh-blue;
	font-family: $header-font-family;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
	text-transform: uppercase;

	/* webkit does not (yet) support this  */
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
}

::selection {
	background-color: $dvh-green;
	color: white;
}

::-moz-selection {
	background-color: $dvh-green;
	color: white;
}


p, ul {
	font-size: 1em;
	margin: 0.5em 0;
}

ul {
	padding-left: 2em;
}

h1 {
	font-size: 2.0em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.353em;
}

h4 {
	font-size: 1.059em;
}

abbr {
	border-bottom: 1px dotted $grey;
}

code {
	color: $dvh-blue;
}

time {
	color: $grey;
	font-size: 0.824em;
}
