@import "mixins/clearfix";
@import "variables/colours";

.core-layout {
	margin: 4em auto;
	width: 75%;
}

.core-layout-header {
	margin-bottom: 4em;
}

.core-layout-main {
	.section-header {
		z-index: 1;
	}
}

.core-layout-header {
	@include clearfix();
	position: relative;

	img {
		position: absolute;
	}
}

.core-layout-header-titles {
	padding-left: 95px;

	h1 {
		line-height: 1.2;
	}

	h2 {
		font-size: 1.353em;
	}
}

.core-layout-section {
	margin-bottom: 2em;

	.internal-link {
		margin-bottom: 1em;
	}

	input,
	textarea {
		margin-bottom: 1em;
	}
}

.core-layout-section-header {
	margin-bottom: 1em;
}

.core-layout-icon-list {
	@include clearfix();
	list-style: none;
	padding: 0;

	dt,
	dd {
		line-height: 1;
		padding: 4px;
	}

	dt {
		clear: left;
		float: left;
		font-weight: normal;
		margin-right: 1em;
	}

	dd {
		float: left;
		margin: 0;
	}
}
